.longcard {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 896px;
    height: 288px;
    background-color: #fff;
    margin-top: 48px;
    padding: 32px;
    border-radius: 32px;
    box-shadow: 0px 2px 2px 0px #0000000f;
    cursor: pointer;
    transition: all ease-out;

    &__context {
      display: flex;
      flex-direction: column;
      list-style: disc;
      gap: 4px;
      width: 384px;

      span {
        margin-bottom: 16px;
      }
      &__items {
        transform: translateX(25px);
      }
      
    }
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
  }
  .longcard:last-child {
    height: 180px;
  }

 

  .bigcard {
    display: flex;
    margin-top: 48px;
    width: 1152;
    height: 480px;
    border-radius: 12px;
    border: 0px 1px 0px 0px;
    border-right: 1px solid #f3f4f6;
    box-shadow: 0px 10px 8px 0px #0000000a;

    &__image {
        width: 576px;
        padding: 48px;
        background-color: var(--gray50);
    }

    &__info {
        width: 576px;
        padding: 48px 48px 100px;

        p {
            margin-top: 24px;
        }

        &__skills {
            margin-top: 24px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 8px;
            grid-row-gap: 8px;
            margin-bottom: 24px;
        }
    }
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
}

.cards {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--white);
        width: 373px;
        height: 428px;
        padding: 48px 48px 96px;
        box-shadow: 0px 4px 3px 0px #00000012;
        border-radius: 12px;
        cursor: pointer;

        &-text {
            margin-top: 24px;
            margin-bottom: 24px;
            width: 277px;
            min-height: 168px;
        }

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        }
    }
}