#intro {
    padding-top: 70px;
    padding-bottom: 96px;

    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 98px;
        gap: 48px;

        &__left {
            width: 778px;

            &__info {
                margin-top: 48px;

                &__list {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 8px;
                }
            }

            &__social {
                margin-top: 48px;
                display: flex;
                flex-direction: row;
                gap: 4px;
                cursor: pointer;
            }
        }
        &__right {
            img {
                filter: drop-shadow(30px 30px var(--gray200));
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #intro {
        padding-bottom: 64px;
    }

    #intro .wrapper {
        margin-top: 20px;
        gap: 10px;
    }

    #intro .wrapper .wrapper__left__info {
        margin-top: 25px;
    }
    #intro .wrapper .wrapper__left__social {
        margin-top: 25px;
    }

    #intro .wrapper .wrapper__right img {
        filter: drop-shadow(15px 15px var(--gray50));
    }
}

@media only screen and (max-width: 568px) {
    #intro .wrapper {
        flex-direction: column-reverse;
    }
    #intro .wrapper .wrapper__left {
        width: 343px;
    }
}
